body {
  font-family: 'Eczar', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.25vh;
}

.html {
  overflow-x: hidden;
  overflow-y: auto;
}

*::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
:root {
  --dark-green: #3e5b5b;
  --med-green: #578574;
  --light-green: #8ab380;
  --yellow-green: #d8df81;
  --beige: #EFECCB;
  --white: #fafafa;
  --red: #CF0303;
  --black: #1E1E1E;
  --grey: #FAFAFA;
  --blue: #528DFF;
}