.confirmationPage {
    padding-top: 8rem;
    background-image: url("/public/assets/wavebg.svg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

.confirmationContainer {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: var(--white);
    border-radius: 5px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.profEmail {
    font-weight: 600;
    text-decoration: underline;
}